.center-text {
    font-size: 2.45rem;
    line-height: 1.28181818;
    margin-bottom: 16px;
}

.col-text {
    margin: 87px 0px 0px 0px;
    padding-left: 65px;
}

.button-go-template{
    height: 42px;
    top: 20px;
    font-size: 17px;
}

.primary-button {
    background-color: blue;
    border-color: blue;
    font-weight: 500;
    color: white;
}

.primary-button:hover {
    background-color: #101063;
    color: white;
    border-color: #101063;
}

.primary-button:enabled {
    background-color: blue;
    border-color: blue;
    color: white;
}

@keyframes back-to-docs {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.35em);
    }
    100% {
        transform: translateY(0);
    }
}
